body {
  margin: 0;
}

p {
  margin-bottom: 0;
}

#root {
}

.main {
  /* height: 100vh;  */
  /* display: flex;  */
  /* align-items: center; 
  justify-content: center; */
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.App-logo {
  height: 7vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 25s linear;
  }
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 80px;
}

.main {
  align-items: flex-start;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.Footer {
  display: flex;
  background-color: black;
  height: 7vmin;
  color: white;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-status {
  color: orange;
  display: flex;
  text-align: left;
}

.about {
  margin-left: 32px;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-grow: 1;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
}
